<ul class="list-group list-unstyled">
  <% for (const channel of channels) { %>
    <li>
      <a href="<%- channel.url %>" class="list-group-item list-group-item-action">
        <span class="h4"><%- channel.label %></span>
      </a>
    </li>
  <% } %>
</ul>
