<ul class="list-group list-unstyled">
  <% for (const variable of variables) { %>
    <li class="media">
      <a href="<%- variable.url %>" class="list-group-item list-group-item-action">
        <img src="<%- variable.image %>" class="mr-3 float-left">
        <span class="h4"><%- variable.label %></span>
      </a>
    </li>
  <% } %>
</ul>
